.mod_news_img table{width:100%}
.mod_news_img th, .mod_news_img td{padding:2px 5px;}
.mod_news_img table.striped tr:nth-child(odd){background-color:#ececec}
.mod_news_img table.striped tr:nth-child(even){background-color:#fff}
.mod_news_img table img.preview{height:50px;max-height:50px;}

.setting_name {
	vertical-align: top;
	width: 20%;
}
.setting_value {
	vertical-align: top;
	width: 80%;
}

.resize_defaults {
	cursor:pointer;
}

.mod_img_news_add,
.mod_img_news_add_group,
.mod_img_news_options {
	padding:0.25em 1em !important;
	margin-right:1em !important;
}

.mod_img_news_add_group,
.mod_img_news_options {
	float:right;
}


/* 
  The definitions below provide the style for the edit CSS button 
  Required CSS class name: input.mod_moduledirectory_edit_css
*/
input.mod_news_img_edit_css {
  color: #000;
  padding: 2px;
  margin: -20px auto;
  float: right;
}		

/* post images */
.xbtooltip {
        display: none;
        position: absolute;
        background-color: #fff;
        border: 1px solid grey;
        padding: 3px;
}
.xbtooltip img {
        width: 200px;
}
.img_list {
        width: 80px;
}

#fotos {
    float:left;
}

#fotos input {
    margin: 2px;
}

#fotoshow {
    float:right;
    width:60%;
}
#fotoshow table{
    border:1px solid grey;
    padding:2px;
    border-spacing:0;
}
#fotoshow table tbody tr td {
    border-bottom:1px solid grey;
   padding: 2px;
}
